body {
  margin: 0;
  font-family: 'Lato','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #202020;
}

a{
  color: inherit;
  text-decoration: none;
}
.menu-title{
  
  font-size: 2rem;
  color: #9ea9ff;
  font-weight: bold;
  padding: 20px 0px;
  align-items: center;
  text-align: center;
}