body {
  margin: 0;
  font-family: 'Lato','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #424242;
}
.menu-title{
  
  font-size: 2rem;
  color: #9ea9ff;
  font-weight: bold;
  padding: 20px 0px;
  align-items: center;
  text-align: center;
  
}

.nav-heading{
  font-weight: bold;
  font-size: 1.5rem;
}

/* Not used now */
.nav-content{
}